@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
.node {
  cursor: pointer;
}

.node circle {
  fill: #84171C;
  stroke: #D12028;
  stroke-width: 6px;
}

.node text {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  fill: #f2f2f2;
}

.link {
  fill: none;
  stroke: #D12028;
  stroke-width: 1px;
}
#heap{
  background: black;
  color: white;

}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
img{
  position: absolute;
}
path {
  stroke-dasharray: 10;
  animation: dash 5s linear;
}

g{
  width: 100%;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
